# A sample job for {{.project_name}}.

{{- $serverless := (eq .serverless "yes")}}
{{- $python_package := (eq .include_python "yes")}}
{{- $notebook := (eq .include_job "yes")}}
{{- $pipeline := (eq .include_pipeline "yes")}}

resources:
  jobs:
    sample_job:
      name: sample_job

      trigger:
        # Run this job every day, exactly one day from the last run; see https://docs.databricks.com/api/workspace/jobs/create#trigger
        periodic:
          interval: 1
          unit: DAYS

      #email_notifications:
      #  on_failure:
      #    - your_email@example.com

      parameters:
        - name: catalog
          default: ${var.catalog}
        - name: schema
          default: ${var.schema}

      {{- if not $serverless}}
      # job_clusters:
      #   - job_cluster_key: default
      #     new_cluster:
      #       node_type_id: {{smallest_node_type}}
      #       spark_version: {{template "latest_lts_dbr_version"}}
      #       autoscale:
      #         min_workers: 1
      #         max_workers: 2
      {{- end}}

      tasks:
{{- if $notebook}}
        - task_key: notebook_task
  {{- if $serverless}}
          notebook_task:
            notebook_path: ../src/sample_notebook.ipynb
            # Environments for notebooks are still in private preview
            # environment_key: default
  {{- else}}
          job_cluster_key: default
          notebook_task:
            notebook_path: ../src/sample_notebook.ipynb
  {{- end}}
{{- end}}

{{- if $python_package}}
        - task_key: python_wheel_task
  {{- if $notebook}}
          depends_on:
            - task_key: notebook_task
  {{- end}}
  {{- if $serverless}}
          python_wheel_task:
            package_name: {{.project_name}}
            entry_point: main
            parameters:
              - "--catalog"
              - "${var.catalog}"
              - "--schema"
              - "${var.schema}"
          environment_key: default
          libraries:
            - whl: ../dist/*.whl
  {{- else}}
          job_cluster_key: default
          python_wheel_task:
            package_name: {{.project_name}}
            entry_point: main
            parameters:
              - "--catalog"
              - "${var.catalog}"
              - "--schema"
              - "${var.schema}"
          libraries:
            - whl: ../dist/*.whl
  {{- end}}
{{- end}}

{{- if $pipeline}}
        - task_key: refresh_pipeline
  {{- if $notebook}}
          depends_on:
            - task_key: notebook_task
  {{- else if $python_package}}
          depends_on:
            - task_key: python_wheel_task
  {{- end}}
          # pipeline runs on its own compute config defined in the pipeline resource
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{.project_name}}_etl.id}
{{- end}}

{{- if $serverless}}
      environments:
        - environment_key: default
          spec:
            environment_version: "{{template "serverless_environment_version"}}"
  {{- if $python_package}}
            dependencies:
              - ../dist/*.whl
  {{- end}}
{{- else}}
      job_clusters:
        - job_cluster_key: default
          new_cluster:
            spark_version: {{template "latest_lts_dbr_version"}}
            node_type_id: {{smallest_node_type}}
            data_security_mode: SINGLE_USER
            autoscale:
              min_workers: 1
              max_workers: 2
{{- end}}