name: Databricks Bundle Deployment
run-name: "${{`{{ github.event_name }}`}}"

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
  push:
    branches:
    - 'main'
    - 'feature/*'

jobs:
  run_tests:
    name: "Run tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'poetry'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (including dev)
        env:
          POETRY_VIRTUALENVS_IN_PROJECT: true
        run: |
          poetry install --with dev

      - name: Run tests
        run: |
          poetry run pytest tests/

  deploy_bundle:
    name: "Deploy bundle"
    runs-on: ubuntu-latest

    needs:
      - run_tests

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: databricks/setup-cli@main

      - run: |
          if [ -d "$GITHUB_WORKSPACE/dab" ]; then
            cd "$GITHUB_WORKSPACE/dab"
            databricks bundle deploy
          else
            echo "DAB directory not found, skipping deployment" >> $GITHUB_STEP_SUMMARY
            exit 0
          fi
        working-directory: .
        env:
          DATABRICKS_HOST: "${{`{{ vars.DATABRICKS_HOST }}`}}"
          DATABRICKS_TOKEN: "${{`{{ secrets.DATABRICKS_TOKEN }}`}}"

  run_bundle:
    name: "Run bundle"
    runs-on: ubuntu-latest

    needs:
      - deploy_bundle

    steps:
      - uses: actions/checkout@v4

      - uses: databricks/setup-cli@main

      - run: |
          if [ -d "$GITHUB_WORKSPACE/dab" ]; then
            cd "$GITHUB_WORKSPACE/dab"
            for JOB_FILE in resources/*.yml; do
              JOB_NAME=$(awk '/jobs:/{getline; print $1}' "$JOB_FILE" | sed 's/://')
              echo "Job run: $JOB_NAME" >> $GITHUB_STEP_SUMMARY
              databricks bundle run "$JOB_NAME" --no-wait >> $GITHUB_STEP_SUMMARY 2>&1
            done
          else
            echo "DAB directory not found, skipping job run" >> $GITHUB_STEP_SUMMARY
          fi
        shell: /usr/bin/bash -e {0}
        working-directory: .
        env:
          DATABRICKS_HOST: "${{`{{ vars.DATABRICKS_HOST }}`}}"
          DATABRICKS_TOKEN: "${{`{{ secrets.DATABRICKS_TOKEN }}`}}"